{% extends "base.html" %} {% block content %}

<h2>Image Classifier</h2>

<hr style="height:2px;border-width:0;color:gray;background-color:gray">

<div>
    <h3>This web application is for Vehicle Color Detection</h3>
    <ol>
        <li>Click Choose button and select an image of car</li>
        <li>Then press Predict button to see the result</li>
        <li>AS simple as posible</li>
        <li>For more information about this project you can follow me im Github</li>
        <li><a href="https://github.com/alireza-kermaninejad/"></a>Click here to see my Github page</li>
        <li>My Github address: https://github.com/alireza-kermaninejad/</li>
      </ol>

</div>

{% endblock %}